body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#navbar {
    padding: 8px;
    margin: 0;
}

#logo {
    height: 40px;
}

/* HEADINGS */

h1{
    text-align: center;
    color: violet;
}

h2 {
    text-align: center;
}

h3{
    margin-bottom: 4px;
    margin-top: 0;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    width: 50%;
    padding-right: 8px;
}
#team {
    width: 50%;
}

#team-image{
    border-radius: 5px;
    width: 100%;
} 

#banner{
    width: 100%;
    object-fit: cover;
}

#raspored {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.apply {
    float: right;
}

#footer {
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

.copyright {
    color: gray;
}

#raspored-table {
    width: 100%;
    border-right: 1px solid gray;
    border-collapse: collapse;
}

.raspored-headers th {
    border: 1px solid gray;
    padding: 8px;
    background-color: aliceblue;
    text-align: left;
}

.raspored-data td {
    border: 1px solid gray;
    padding: 8px;
}

#raspored-table tr:nth-child(odd){
    background-color:ghostwhite ;
}

.raspored-data-end td {
    border: 1px solid gray;
    padding: 8px;
    border-bottom:2px solid black ;
}
.raspored-headers-1 th {
    border: 1px solid gray;
    padding: 8px;
    background-color: aliceblue;
    text-align: center;
}